body {
  background-color: #0F9D58;
  color: #0B8043;
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  line-height: 30px;
}

h1, h2, h3 {
  color: #07562D;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  line-height: 35px,
}

a {
  color: #0B8043;
  text-decoration: none;
}

a:hover {
  color: #57BB8A;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

.container {
  width: 600px;
  margin: 75px auto;
}

.card {
  width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #D2E0D9;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card-left {
  text-align: left;
  padding-left: 20px;
}

.image-round {
  display: block;
  margin: 30px auto;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2.5px solid #CFB53B;
}
